<!-- sidebar start -->
<div class="admin-sidebar am-offcanvas" id="admin-offcanvas">
	<div class="am-offcanvas-bar admin-offcanvas-bar">
		<ul class="am-list admin-sidebar-list">
			<li>
				<a href="javascript:void(0);" class="am-padding-left-0 am-text-center am-hide-sm-only" data-nav="admin-offcanvas"><span class="am-icon-list" data-nav-icon></span></a>
			</li>
			<li class="admin-parent">
				<a href="${tms.config.basePath }">
					<span class="am-icon-home" data-nav-icon></span>
					<span class="am-margin-left-sm">首页</span>
				</a>
			</li>
			<li class="admin-parent">
				<a href="${tms.config.basePath }waybill/edit" title="运单录入">
					<span class="am-icon-home" data-nav-icon></span>
					<span class="am-margin-left-sm">运单录入</span>
				</a>
			</li>
			<li class="admin-parent">
				<a href="${tms.config.basePath }waybill/index" title="运单查询">
					<span class="am-icon-home" data-nav-icon></span>
					<span class="am-margin-left-sm">运单查询</span>
				</a>
			</li>
			
			<!-- <li class="admin-parent">
				<a href="javascript:void(0);" data-am-collapse="{target: '#collapse-nav'}">
					<span class="am-icon-file" data-nav-icon></span> 
					<span class="am-margin-left-sm">页面模块</span>
				</a>
				<ul class="am-list am-collapse admin-sidebar-sub am-in" id="collapse-nav">
					<li>
						<a href="admin-user.html">
							<span class="am-icon-check" data-nav-icon></span> 
							<span class="am-margin-left-sm">个人资料</span>
							<span class="am-icon-star am-fr am-margin-right admin-icon-yellow"></span>
						</a>
					</li>
					<li>
						<a href="admin-help.html">
							<span class="am-icon-puzzle-piece" data-nav-icon></span> 
							<span class="am-margin-left-sm">帮助页</span>
						</a>
					</li>
					<li>
						<a href="admin-gallery.html">
							<span class="am-icon-th" data-nav-icon></span> 
							<span class="am-margin-left-sm">相册页面</span>
							<span class="am-badge am-badge-secondary am-margin-right am-fr">24</span>
						</a>
					</li>
					<li>
						<a href="admin-log.html">
							<span class="am-icon-calendar" data-nav-icon></span> 
							<span class="am-margin-left-sm">系统日志</span>
						</a>
					</li>
					<li>
						<a href="admin-404.html">
							<span class="am-icon-bug" data-nav-icon></span> 
							<span class="am-margin-left-sm">404</span>
						</a>
					</li>
				</ul>
			</li> -->
			<li class="admin-parent">
				<a href="${tms.config.basePath }linkman/index">
					<span class="am-icon-pencil-square-o" data-nav-icon></span> 
					<span class="am-margin-left-sm">收发货人</span>
				</a>
			</li>
			<li class="admin-parent">
				<a href="${tms.config.basePath }vehicle/index">
					<span class="am-icon-pencil-square-o" data-nav-icon></span> 
					<span class="am-margin-left-sm">车辆管理</span>
				</a>
			</li>
			<li class="admin-parent">
				<a href="javascript:void(0);">
					<span class="am-icon-pencil-square-o" data-nav-icon></span> 
					<span class="am-margin-left-sm">回单管理</span>
				</a>
			</li>
			<li class="admin-parent">
				<a href="javascript:void(0);">
					<span class="am-icon-pencil-square-o" data-nav-icon></span> 
					<span class="am-margin-left-sm">运单统计</span>
				</a>
			</li>
			<li class="admin-parent">
				<a href="javascript:void(0);">
					<span class="am-icon-pencil-square-o" data-nav-icon></span> 
					<span class="am-margin-left-sm">意见反馈</span>
				</a>
			</li>
		</ul>
		<!-- <div class="am-panel am-panel-default admin-sidebar-panel">
			<div class="am-panel-bd">
				<p><span class="am-icon-bookmark"></span> 公告</p>
				<p>时光静好，与君语；细水流年，与君同。—— Amaze UI</p>
			</div>
		</div> -->
	</div>
</div>
<!-- sidebar end -->
	
<a href="#" class="am-show-sm-only admin-menu" data-am-offcanvas="{target: '#admin-offcanvas'}">
	<span class="am-icon-btn am-icon-th-list"></span>
</a>