<div class="am-cf am-padding-left-xs">
	<strong class="am-text-primary am-text-default">收发货人</strong> / <small>收发货人管理</small>
</div>
<hr class="am-margin-0" />
<form class="am-form am-form-horizontal am-margin-xs" role="form" method="post" action="">
	<ul class="am-avg-sm-1 am-avg-md-2 am-avg-lg-4 am-thumbnails">
		<li class="am-padding-0">
			<div class="am-form-group am-form-group-sm">
				<label for="name" class="am-u-sm-4 am-form-label">姓名</label>
				<div class="am-u-sm-8">
					<input type="text" class="am-form-field" />
				</div>
			</div>
		</li>
		<li class="am-padding-0">
			<div class="am-form-group am-form-group-sm">
				<label for="name" class="am-u-sm-4 am-form-label">电话</label>
				<div class="am-u-sm-8">
					<input type="text" class="am-form-field" />
				</div>
			</div>
		</li>
		<li class="am-padding-0">
			<div class="am-form-group am-form-group-sm">
				<label for="name" class="am-u-sm-4 am-form-label">省市区</label>
				<div class="am-u-sm-8">
					<input type="text" class="am-form-field" />
				</div>
			</div>
		</li>
		<li class="am-padding-0">
			<div class="am-form-group am-form-group-sm">
				<label for="name" class="am-u-sm-4 am-form-label">详细地址</label>
				<div class="am-u-sm-8">
					<input type="text" class="am-form-field" />
				</div>
			</div>
		</li>
		<li class="am-padding-0">
			<div class="am-form-group am-form-group-sm">
				<label for="name" class="am-u-sm-4 am-form-label">编号</label>
				<div class="am-u-sm-8">
					<input type="text" class="am-form-field" />
				</div>
			</div>
		</li>
		<li class="am-padding-0">
			<div class="am-form-group am-form-group-sm">
				<label for="name" class="am-u-sm-4 am-form-label">公司名称</label>
				<div class="am-u-sm-8">
					<input type="text" class="am-form-field" />
				</div>
			</div>
		</li>
		<li class="am-padding-0">
			<div class="am-form-group am-form-group-sm">
				<label for="name" class="am-u-sm-4 am-form-label">分类</label>
				<div class="am-u-sm-8">
					<label class="am-checkbox-inline">
						<input type="checkbox" value="option1"> 发货人
					</label>
					<label class="am-checkbox-inline">
						<input type="checkbox" value="option2"> 收货人
					</label>
				</div>
			</div>
		</li>
	</ul>
	<div class="am-text-right">
		<button type="button" class="am-btn am-btn-primary am-btn-xs am-margin-right-xs">查询</button>
		<button type="button" class="am-btn am-btn-default am-btn-xs">重置</button>
	</div>
</form>
<div class="am-panel am-panel-default am-border-top-0">
	<div class="am-panel-hd am-padding-0">
		<div class="am-btn-group am-margin-left-xs">
			<button type="button" class="am-btn am-btn-danger am-btn-xs">删除</button>
			<button type="button" class="am-btn am-btn-warning am-btn-xs">修改状态</button>
			<button type="button" class="am-btn am-btn-success am-btn-xs">导出</button>
		</div>
	</div>
	<div class="am-panel-bd am-padding-xs am-padding-bottom-0 am-scrollable-horizontal">
		<table class="am-table am-table-bordered am-table-compact am-table-striped am-table-hover am-text-nowrap">
			<thead>
			    <tr>
			    	<th>操作</th>
			    	<th>编号</th>
			        <th>姓名</th>
			        <th>电话</th>
			        <th>地址</th>
			        <th>公司名称</th>
			        <th>分类</th>
			        <th>备注</th>
			    </tr>
			</thead>
			<tbody>
				<tr>
					<td class="am-padding-0">
						<div class="am-dropdown" data-am-dropdown>
							<button class="am-btn am-btn-xs am-btn-primary am-dropdown-toggle" data-am-dropdown-toggle>
								下拉列表 <span class="am-icon-caret-down"></span>
							</button>
							<ul class="am-dropdown-content">
								<li class="am-dropdown-header">标题</li>
								<li><a href="#">快乐的方式不只一种</a></li>
								<li class="am-active"><a href="#">最荣幸是</a></li>
								<li><a href="#">谁都是造物者的光荣</a></li>
								<li class="am-disabled"><a href="#">就站在光明的角落</a></li>
								<li class="am-divider"></li>
								<li><a href="#">天空海阔 要做最坚强的泡沫</a></li>
							</ul>
						</div>
					</td>
					<td class="">1001</td>
					<td class="">刘德华</td>
					<td class="">15820008575</td>
					<td class="">四川省成都市高新区天华路88号英郡三期5号楼2001室</td>
					<td class="">山东物流智家运营管理有限公司</td>
					<td class="">发货人</td>
					<td class="">普通客户</td>
				</tr>
				
				<tr>
					<td class="am-padding-0">
						<div class="am-dropdown am-dropdown-up" data-am-dropdown>
							<button class="am-btn am-btn-xs am-btn-danger am-dropdown-toggle" data-am-dropdown-toggle>
								上拉列表 <span class="am-icon-caret-up"></span>
							</button>
							<ul class="am-dropdown-content">
								<li class="am-dropdown-header">标题</li>
								<li><a href="#">快乐的方式不只一种</a></li>
								<li class="am-active"><a href="#">最荣幸是</a></li>
								<li><a href="#">谁都是造物者的光荣</a></li>
								<li class="am-disabled"><a href="#">就站在光明的角落</a></li>
								<li class="am-divider"></li>
								<li><a href="#">天空海阔 要做最坚强的泡沫</a></li>
							</ul>
						</div>
					</td>
					<td class="">1002</td>
					<td class="">刘德华</td>
					<td class="">15820008575</td>
					<td class="">四川省成都市高新区天华路88号英郡三期5号楼2001室</td>
					<td class="">山东蓝孚科技有限公司</td>
					<td class="">收货人</td>
					<td class="">普通客户</td>
				</tr>
				
				<tr>
					<td class="am-padding-0">
						<button type="button" class="am-btn am-btn-danger am-btn-xs">删除</button>
						<a type="button" class="am-btn am-btn-primary am-btn-xs" href="${tms.config.basePath }linkman/edit">修改</a>
					</td>
					<td class="">1003</td>
					<td class="">刘德华</td>
					<td class="">15820008575</td>
					<td class="">四川省成都市高新区天华路88号英郡三期5号楼2001室</td>
					<td class="">山东鼎擎电子技术有限责任公司</td>
					<td class="">发货人/收货人</td>
					<td class="">普通客户</td>
				</tr>
				
				<tr>
					<td class="am-padding-0">
						<button type="button" class="am-btn am-btn-danger am-btn-xs">删除</button>
						<button type="button" class="am-btn am-btn-primary am-btn-xs">修改</button>
					</td>
					<td class="">1004</td>
					<td class="">刘德华</td>
					<td class="">15820008575</td>
					<td class="">四川省成都市高新区天华路88号英郡三期5号楼2001室</td>
					<td class="">德邦物流股份有限公司</td>
					<td class=""></td>
					<td class="">普通客户</td>
				</tr>
				
				<tr>
					<td class="am-padding-0">
						<button type="button" class="am-btn am-btn-danger am-btn-xs">删除</button>
						<button type="button" class="am-btn am-btn-primary am-btn-xs">修改</button>
					</td>
					<td class="">1005</td>
					<td class="">刘德华</td>
					<td class="">15820008575</td>
					<td class="">四川省成都市高新区天华路88号英郡三期5号楼2001室</td>
					<td class="">天地华宇集团</td>
					<td class="">发货人</td>
					<td class="">普通客户</td>
				</tr>
				
				<tr>
					<td class="am-padding-0">
						<button type="button" class="am-btn am-btn-danger am-btn-xs">删除</button>
						<button type="button" class="am-btn am-btn-primary am-btn-xs">修改</button>
					</td>
					<td class="">1006</td>
					<td class="">刘德华</td>
					<td class="">15820008575</td>
					<td class="">四川省成都市高新区天华路88号英郡三期5号楼2001室</td>
					<td class="">乐富支付科技有限责任公司</td>
					<td class="">发货人</td>
					<td class="">普通客户</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="am-page">
		<ul class="am-pagination">
			<li class="am-disabled"><a href="#">&laquo;</a></li>
			<li class="am-active"><a href="#">1</a></li>
			<li><a href="#">2</a></li>
			<li><a href="#">3</a></li>
			<li><a href="#">4</a></li>
			<li><a href="#">5</a></li>
			<li><a href="#">&raquo;</a></li>
		</ul>
	</div>
</div>
