<div class="am-cf am-padding-left-xs">
	<strong class="am-text-primary am-text-default">车辆管理</strong> / <small>车辆编辑</small>
</div>
<hr class="am-margin-0" />
<form class="am-form am-form-horizontal am-margin-xs" role="form" method="post" action="">
	<div class="am-panel am-panel-default">
		<div class="am-panel-hd">基本信息</div>
		<div class="am-panel-bd am-padding-xs am-padding-bottom-0">
			<ul class="am-avg-sm-1 am-avg-md-2 am-avg-lg-4 am-thumbnails">
				<li class="am-padding-0">
						<div class="am-form-group am-form-group-sm">
						<label for="name" class="am-u-sm-4 am-form-label"><i class="am-text-danger">*&nbsp;</i>姓名</label>
						<div class="am-u-sm-8">
							<input type="text" class="am-form-field" />
						</div>
					</div>
					</li>
					<li class="am-padding-0">
						<div class="am-form-group am-form-group-sm">
						<label for="name" class="am-u-sm-4 am-form-label"><i class="am-text-danger">*&nbsp;</i>电话</label>
						<div class="am-u-sm-8">
							<input type="text" class="am-form-field" />
						</div>
					</div>
					</li>
					<li class="am-padding-0">
						<div class="am-form-group am-form-group-sm">
						<label for="name" class="am-u-sm-4 am-form-label">车牌号</label>
						<div class="am-u-sm-8">
							<input type="text" class="am-form-field" />
						</div>
					</div>
					</li>
			</ul>
		</div>
	</div>
	
	<div class="am-panel am-panel-default am-border-top-0">
		<div class="am-panel-hd">辅助信息</div>
		<div class="am-panel-bd am-padding-xs am-padding-bottom-0">
			<ul class="am-avg-sm-1 am-avg-md-2 am-avg-lg-4 am-thumbnails">
				<li class="am-padding-0">
					<div class="am-form-group am-form-group-sm">
						<label for="name" class="am-u-sm-4 am-form-label">车型</label>
						<div class="am-u-sm-8">
							<select class="am-input-sm">
								<option value="option2">请选择</option>
								<option value="option2">平板车</option>
								<option value="option1">高护栏</option>
								<option value="option2">甩挂</option>
								<option value="option2">特种车</option>
							</select>
						</div>
					</div>
				</li>
				<li class="am-padding-0">
					<div class="am-form-group am-form-group-sm">
						<label for="name" class="am-u-sm-4 am-form-label">车长</label>
						<div class="am-u-sm-8">
							<select class="am-input-sm">
								<option value="option2">请选择</option>
								<option value="option2">4.2米</option>
								<option value="option1">6.2米</option>
								<option value="option2">9.6米</option>
								<option value="option2">12.5米</option>
							</select>
						</div>
					</div>
				</li>
				<li class="am-padding-0">
					<div class="am-form-group am-form-group-sm am-form-icon am-form-feedback">
						<label for="name" class="am-u-sm-4 am-form-label">载重</label>
						<div class="am-u-sm-8">
							<div class="am-input-group am-input-group-sm">
								<input type="text" class="am-form-field">
								<span class="am-input-group-label">吨</span>
							</div>
						</div>
					</div>
				</li>
				<li class="am-padding-0">
					<div class="am-form-group am-form-group-sm">
						<label for="name" class="am-u-sm-4 am-form-label">备注</label>
						<div class="am-u-sm-8">
							<input type="text" class="am-form-field" />
						</div>
					</div>
				</li>
			</ul>
		</div>
	</div>
	
	<div class="am-text-center am-margin-top-xs">
		<button type="button" class="am-btn am-btn-primary am-btn-sm">提交保存</button>
		<button type="button" class="am-btn am-btn-primary am-btn-sm">放弃保存</button>
	</div>
</form>
