<div class="am-cf am-padding-left-xs">
	<strong class="am-text-primary am-text-default">运单管理</strong> / <small>运单查询</small>
</div>
<hr class="am-margin-0" />
<form class="am-form am-form-horizontal am-margin-xs" role="form" method="post" action="">
	<ul class="am-avg-sm-1 am-avg-md-2 am-avg-lg-4 am-thumbnails">
		<li class="am-padding-0">
			<div class="am-form-group am-form-group-sm">
				<label for="name" class="am-u-sm-4 am-form-label">发货人</label>
				<div class="am-u-sm-8">
					<input type="text" class="am-form-field" />
				</div>
			</div>
		</li>
		<li class="am-padding-0">
			<div class="am-form-group am-form-group-sm">
				<label for="name" class="am-u-sm-4 am-form-label">发货电话</label>
				<div class="am-u-sm-8">
					<input type="text" class="am-form-field" />
				</div>
			</div>
		</li>
		<li class="am-padding-0">
			<div class="am-form-group am-form-group-sm">
				<label for="name" class="am-u-sm-4 am-form-label">发货省市区</label>
				<div class="am-u-sm-8">
					<input type="text" class="am-form-field" />
				</div>
			</div>
		</li>
		<li class="am-padding-0">
			<div class="am-form-group am-form-group-sm">
				<label for="name" class="am-u-sm-4 am-form-label">发货地址</label>
				<div class="am-u-sm-8">
					<input type="text" class="am-form-field" />
				</div>
			</div>
		</li>
		
		<li class="am-padding-0">
			<div class="am-form-group am-form-group-sm">
				<label for="name" class="am-u-sm-4 am-form-label">收货人</label>
				<div class="am-u-sm-8">
					<input type="text" class="am-form-field" />
				</div>
			</div>
		</li>
		<li class="am-padding-0">
			<div class="am-form-group am-form-group-sm">
				<label for="name" class="am-u-sm-4 am-form-label">收货电话</label>
				<div class="am-u-sm-8">
					<input type="text" class="am-form-field" />
				</div>
			</div>
		</li>
		<li class="am-padding-0">
			<div class="am-form-group am-form-group-sm">
				<label for="name" class="am-u-sm-4 am-form-label">收货省市区</label>
				<div class="am-u-sm-8">
					<input type="text" class="am-form-field" />
				</div>
			</div>
		</li>
		<li class="am-padding-0">
			<div class="am-form-group am-form-group-sm">
				<label for="name" class="am-u-sm-4 am-form-label">收货地址</label>
				<div class="am-u-sm-8">
					<input type="text" class="am-form-field" />
				</div>
			</div>
		</li>
		<li class="am-padding-0">
			<div class="am-form-group am-form-group-sm">
				<label for="name" class="am-u-sm-4 am-form-label">运单号</label>
				<div class="am-u-sm-8">
					<input type="text" class="am-form-field" />
				</div>
			</div>
		</li>
		<li class="am-padding-0">
			<div class="am-form-group am-form-group-sm">
				<label for="name" class="am-u-sm-4 am-form-label">运单状态</label>
				<div class="am-u-sm-8">
					<select class="am-input-sm">
						<option value="option1">请选择</option>
						<option value="option1">运输中</option>
						<option value="option2">已签收</option>
					</select>
				</div>
			</div>
		</li>
		<li class="am-padding-0">
			<div class="am-form-group am-form-group-sm">
				<label for="name" class="am-u-sm-4 am-form-label">签收单</label>
				<div class="am-u-sm-8">
					<select class="am-input-sm">
						<option value="option1">请选择</option>
						<option value="option2">无需返单</option>
						<option value="option3">原件返回</option>
						<option value="option4">传真返回</option>
					</select>
				</div>
			</div>
		</li>
		<li class="am-padding-0">
			<div class="am-form-group am-form-group-sm">
				<label for="name" class="am-u-sm-4 am-form-label">备注</label>
				<div class="am-u-sm-8">
					<input type="text" class="am-form-field" />
				</div>
			</div>
		</li>
	</ul>
	<div class="am-text-right">
		<button type="button" class="am-btn am-btn-primary am-btn-xs am-margin-right-xs">查询</button>
		<button type="button" class="am-btn am-btn-default am-btn-xs">重置</button>
	</div>
</form>
<div class="am-panel am-panel-default am-border-top-0">
	<div class="am-panel-hd am-padding-0">
		<div class="am-btn-group am-margin-left-xs">
			<button type="button" class="am-btn am-btn-danger am-btn-xs">删除</button>
			<button type="button" class="am-btn am-btn-warning am-btn-xs">修改状态</button>
			<button type="button" class="am-btn am-btn-success am-btn-xs">导出</button>
		</div>
	</div>
	<div class="am-panel-bd am-padding-xs am-padding-bottom-0 am-scrollable-horizontal">
		<table class="am-table am-table-bordered am-table-compact am-table-striped am-table-hover am-text-nowrap">
			<thead>
			    <tr>
			    	<th>操作</th>
			        <th>运单号</th>
			        <th>发货人</th>
			        <th>货物名称</th>
			        <th>货物规格</th>
			        <th>货物件数</th>
			        <th>收货人</th>
			        <th>收货地址</th>
			        <th>取货方式</th>
			        <th>送货方式</th>
			        <th>签收单</th>
			        <th>保价金额</th>
			        <th>代收货款</th>
			        <th>备注</th>
			    </tr>
			</thead>
			<tbody>
				<tr>
					<td class="am-padding-0">
						<div class="am-dropdown" data-am-dropdown>
							<button class="am-btn am-btn-xs am-btn-primary am-dropdown-toggle" data-am-dropdown-toggle>
								下拉列表 <span class="am-icon-caret-down"></span>
							</button>
							<ul class="am-dropdown-content">
								<li class="am-dropdown-header">标题</li>
								<li><a href="#">快乐的方式不只一种</a></li>
								<li class="am-active"><a href="#">最荣幸是</a></li>
								<li><a href="#">谁都是造物者的光荣</a></li>
								<li class="am-disabled"><a href="#">就站在光明的角落</a></li>
								<li class="am-divider"></li>
								<li><a href="#">天空海阔 要做最坚强的泡沫</a></li>
							</ul>
						</div>
					</td>
					<td class="">20160402</td>
					<td class="">刘德华(15820008575)</td>
					<td class="">烟台出口级富士苹果</td>
					<td class="">2500kg;30m³</td>
					<td class="">5000件</td>
					<td class="">张学友(17091982979)</td>
					<td class="">成都市高新区天华路88号英郡三期5号楼2001室</td>
					<td class="">上门取货</td>
					<td class="">等待通知送货</td>
					<td class="">原件返回</td>
					<td class="">200000.00</td>
					<td class="">500000.00</td>
					<td class="">三天之内送到，不能压重物</td>
				</tr>
				
				<tr>
					<td class="am-padding-0">
						<div class="am-dropdown am-dropdown-up" data-am-dropdown>
							<button class="am-btn am-btn-xs am-btn-danger am-dropdown-toggle" data-am-dropdown-toggle>
								上拉列表 <span class="am-icon-caret-up"></span>
							</button>
							<ul class="am-dropdown-content">
								<li class="am-dropdown-header">标题</li>
								<li><a href="#">快乐的方式不只一种</a></li>
								<li class="am-active"><a href="#">最荣幸是</a></li>
								<li><a href="#">谁都是造物者的光荣</a></li>
								<li class="am-disabled"><a href="#">就站在光明的角落</a></li>
								<li class="am-divider"></li>
								<li><a href="#">天空海阔 要做最坚强的泡沫</a></li>
							</ul>
						</div>
					</td>
					<td class="">20160402</td>
					<td class="">刘德华(15820008575)</td>
					<td class="">烟台出口级富士苹果</td>
					<td class="">2500kg;30m³</td>
					<td class="">5000件</td>
					<td class="">张学友(17091982979)</td>
					<td class="">成都市高新区天华路88号英郡三期5号楼2001室</td>
					<td class="">上门取货</td>
					<td class="">等待通知送货</td>
					<td class="">原件返回</td>
					<td class="">200000.00</td>
					<td class="">500000.00</td>
					<td class="">三天之内送到，不能压重物</td>
				</tr>
				
				<tr>
					<td class="am-padding-0">
						<button type="button" class="am-btn am-btn-danger am-btn-xs">删除</button>
						<button type="button" class="am-btn am-btn-primary am-btn-xs">修改</button>
					</td>
					<td class="">20160402</td>
					<td class="">刘德华(15820008575)</td>
					<td class="">烟台出口级富士苹果</td>
					<td class="">2500kg;30m³</td>
					<td class="">5000件</td>
					<td class="">张学友(17091982979)</td>
					<td class="">成都市高新区天华路88号英郡三期5号楼2001室</td>
					<td class="">上门取货</td>
					<td class="">等待通知送货</td>
					<td class="">原件返回</td>
					<td class="">200000.00</td>
					<td class="">500000.00</td>
					<td class="">三天之内送到，不能压重物</td>
				</tr>
				
				<tr>
					<td class="am-padding-0">
						<button type="button" class="am-btn am-btn-danger am-btn-xs">删除</button>
						<button type="button" class="am-btn am-btn-primary am-btn-xs">修改</button>
					</td>
					<td class="">20160402</td>
					<td class="">刘德华(15820008575)</td>
					<td class="">烟台出口级富士苹果</td>
					<td class="">2500kg;30m³</td>
					<td class="">5000件</td>
					<td class="">张学友(17091982979)</td>
					<td class="">成都市高新区天华路88号英郡三期5号楼2001室</td>
					<td class="">上门取货</td>
					<td class="">等待通知送货</td>
					<td class="">原件返回</td>
					<td class="">200000.00</td>
					<td class="">500000.00</td>
					<td class="">三天之内送到，不能压重物</td>
				</tr>
				
				<tr>
					<td class="am-padding-0">
						<button type="button" class="am-btn am-btn-danger am-btn-xs">删除</button>
						<button type="button" class="am-btn am-btn-primary am-btn-xs">修改</button>
					</td>
					<td class="">20160402</td>
					<td class="">刘德华(15820008575)</td>
					<td class="">烟台出口级富士苹果</td>
					<td class="">2500kg;30m³</td>
					<td class="">5000件</td>
					<td class="">张学友(17091982979)</td>
					<td class="">成都市高新区天华路88号英郡三期5号楼2001室</td>
					<td class="">上门取货</td>
					<td class="">等待通知送货</td>
					<td class="">原件返回</td>
					<td class="">200000.00</td>
					<td class="">500000.00</td>
					<td class="">三天之内送到，不能压重物</td>
				</tr>
				
				<tr>
					<td class="am-padding-0">
						<button type="button" class="am-btn am-btn-danger am-btn-xs">删除</button>
						<button type="button" class="am-btn am-btn-primary am-btn-xs">修改</button>
					</td>
					<td class="">20160402</td>
					<td class="">刘德华(15820008575)</td>
					<td class="">烟台出口级富士苹果</td>
					<td class="">2500kg;30m³</td>
					<td class="">5000件</td>
					<td class="">张学友(17091982979)</td>
					<td class="">成都市高新区天华路88号英郡三期5号楼2001室</td>
					<td class="">上门取货</td>
					<td class="">等待通知送货</td>
					<td class="">原件返回</td>
					<td class="">200000.00</td>
					<td class="">500000.00</td>
					<td class="">三天之内送到，不能压重物</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="am-page">
		<ul class="am-pagination">
			<li class="am-disabled"><a href="#">&laquo;</a></li>
			<li class="am-active"><a href="#">1</a></li>
			<li><a href="#">2</a></li>
			<li><a href="#">3</a></li>
			<li><a href="#">4</a></li>
			<li><a href="#">5</a></li>
			<li><a href="#">&raquo;</a></li>
		</ul>
	</div>
</div>
<script src="../res/tms/common.js"></script>
<script src="../res/tms/waybilledit.js"></script>
</body>
</html>
