<div class="am-cf am-padding-xs am-padding-bottom-0">
	<div class="am-fl am-cf">
		<strong class="am-text-primary am-text-lg">通讯录管理</strong> / <small>分部管理</small>
	</div>
	<div class="am-fr am-cf">
		<button type="button" id="toAddBtn" class="am-btn am-btn-xs am-btn-primary"><i class="am-icon-plus"></i>&nbsp;新增</button>
	</div>
</div>
<hr class="am-margin-xs"/>
<form class="am-form am-form-horizontal am-margin-right-sm" role="form" id="queryForm">
	<ul class="am-avg-sm-1 am-avg-md-3 am-avg-lg-4 am-thumbnails">
		<li class="am-padding-0">
			<div class="am-form-group am-form-group-sm am-margin-bottom-xs">
				<label for="name" class="am-u-sm-4 am-form-label am-text-right am-padding-left-0 am-padding-right-0">序号：</label>
				<div class="am-u-sm-8 am-padding-left-0 am-padding-right-0">
					<input type="text" class="am-form-field" />
				</div>
			</div>
		</li>
		<li class="am-padding-0">
			<div class="am-form-group am-form-group-sm am-margin-bottom-xs">
				<label for="name" class="am-u-sm-4 am-form-label am-text-right am-padding-left-0 am-padding-right-0">名称：</label>
				<div class="am-u-sm-8 am-padding-left-0 am-padding-right-0">
					<input type="text" class="am-form-field" />
				</div>
			</div>
		</li>
		<li class="am-padding-0">
			<div class="am-form-group am-form-group-sm am-margin-bottom-xs">
				<div class="am-u-sm-12 am-padding-left-xs am-padding-right-0">
					<button type="button" id="queryBtn" class="am-btn am-btn-sm am-btn-primary"><i class="am-icon-search"></i>&nbsp;查询</button>
					<button type="reset" class="am-btn am-btn-sm am-btn-default"><i class="am-icon-undo"></i>&nbsp;重置</button>
				</div>
			</div>
		</li>
	</ul>
</form>
<hr class="am-margin-top-0"/>

<div class="am-u-sm-5">
	<ul class="am-tree" role="tree" id="deptTree">
		<li class="am-tree-branch am-hide" data-template="treebranch" role="treeitem" aria-expanded="false">
			<div class="am-tree-branch-header">
				<button class="am-tree-icon am-tree-icon-caret am-icon-caret-right">
					<span class="am-sr-only">Open</span>
				</button>
				<button class="am-tree-branch-name">
					<span class="am-tree-icon am-tree-icon-folder"></span>
					<span class="am-tree-label"></span>
				</button>
			</div>
			<ul class="am-tree-branch-children" role="group"></ul>
			<div class="am-tree-loader" role="alert">Loading...</div>
		</li>
		<li class="am-tree-item am-hide" data-template="treeitem" role="treeitem">
			<button class="am-tree-item-name">
				<span class="am-tree-icon am-tree-icon-item"></span>
				<span class="am-tree-label"></span>
			</button>
		</li>
	</ul>
</div>
<div class="am-u-sm-7">
	<form class="am-form am-form-horizontal">
		<div class="am-form-group am-form-group-sm am-margin-bottom-xs">
			<label for="doc-ipt-3" class="am-u-sm-3 am-form-label">ID<span class="am-text-danger">*</span></label>
			<div class="am-u-sm-9">
				<input type="number" name="id" readonly="readonly">
			</div>
		</div>
		
		<div class="am-form-group am-form-group-sm am-margin-bottom-xs">
			<label for="doc-ipt-3" class="am-u-sm-3 am-form-label">序号<span class="am-text-danger">*</span></label>
			<div class="am-u-sm-9">
				<input type="number" name="serialNumber" id="serialNumber">
			</div>
		</div>
		
		<div class="am-form-group am-form-group-sm am-margin-bottom-xs">
			<label for="doc-ipt-3" class="am-u-sm-3 am-form-label">上级分部<span class="am-text-danger">*</span></label>
			<div class="am-u-sm-9">
				<select name="parentId">
					<option value=""></option>
				</select>
			</div>
		</div>

		<div class="am-form-group am-form-group-sm am-margin-bottom-xs">
			<label for="doc-ipt-pwd-2" class="am-u-sm-3 am-form-label">名称<span class="am-text-danger">*</span></label>
			<div class="am-u-sm-9">
				<input type="text" name="name" id="name">
			</div>
		</div>

		<div class="am-form-group am-form-group-sm am-margin-bottom-xs">
			<div class="am-u-sm-9 am-u-sm-offset-3">
				<button type="button" class="am-btn am-btn-sm am-btn-primary">保存</button>
			</div>
		</div>
	</form>
</div>
<script>
(function() {
	var data = [{
		title: '一级分部1',
		type: 'folder',
		products: [
			{
				title: '二级分部1',
				type: 'item'
			}, {
				title: '二级分部2',
				type: 'item'
			}, {
				title: '二级分部3',
				type: 'folder',
				products: [
					{
						title: '三级分部1',
						type: 'item'
					}, {
						title: '三级分部2',
						type: 'item'
					}, {
						title: '三级分部3',
						type: 'item'
					}]
			}]
		}];
	$('#deptTree').tree({
		dataSource: function(options, callback) {
			callback({data: options.products || data});
		},
		multiSelect: false,
		folderSelect: true,
		folderIcon: 'am-icon-hand-o-right',
// 		folderOpenIcon: 'am-icon-hand-o-right',
		itemIcon: 'am-icon-hand-o-right'
	});
	$('#deptTree').tree('discloseAll');
})();
</script>
</body>
</html>
