<div class="am-cf am-padding-xs am-padding-bottom-0">
	<div class="am-fl am-cf">
		<strong class="am-text-primary am-text-lg">通讯录管理</strong> / <small>分部管理</small>
	</div>
	<div class="am-fr am-cf">
		<button type="button" id="refreshBtn" class="am-btn am-btn-xs am-btn-primary"><i class="am-icon-refresh"></i>&nbsp;刷新</button>
	</div>
</div>
<hr class="am-margin-xs"/>

<div class="am-u-sm-5">
	<ul class="ztree" id="deptTree"></ul>
</div>
<div class="am-u-sm-7">
	<form class="am-form am-form-horizontal" id="editForm">
		<div class="am-form-group am-form-group-sm am-margin-bottom-xs">
			<label for="doc-ipt-3" class="am-u-sm-3 am-form-label">ID<span class="am-text-danger">*</span></label>
			<div class="am-u-sm-9">
				<input type="number" name="id" readonly="readonly" value="0" class="vfor">
			</div>
		</div>
		
		<div class="am-form-group am-form-group-sm am-margin-bottom-xs">
			<label for="doc-ipt-3" class="am-u-sm-3 am-form-label">序号<span class="am-text-danger">*</span></label>
			<div class="am-u-sm-9">
				<input type="number" name="serialNumber" id="serialNumber" class="vfor">
			</div>
		</div>
		
		<div class="am-form-group am-form-group-sm am-margin-bottom-xs">
			<label for="doc-ipt-3" class="am-u-sm-3 am-form-label">上级分部<span class="am-text-danger">*</span></label>
			<div class="am-u-sm-9">
				<select name="parentId" id="deptSelect" class="vfor">
					<option value="0">无上级</option>
				</select>
			</div>
		</div>

		<div class="am-form-group am-form-group-sm am-margin-bottom-xs">
			<label for="doc-ipt-pwd-2" class="am-u-sm-3 am-form-label">名称<span class="am-text-danger">*</span></label>
			<div class="am-u-sm-9">
				<input type="text" name="name" id="name" class="vfor">
			</div>
		</div>

		<div class="am-form-group am-form-group-sm am-margin-bottom-xs">
			<div class="am-u-sm-9 am-u-sm-offset-3">
				<button type="button" id="saveBtn" class="am-btn am-btn-sm am-btn-primary"><i class="am-icon-save"></i>&nbsp;保存</button>
				<button type="reset" id="resetBtn" class="am-btn am-btn-sm am-btn-primary"><i class="am-icon-undo"></i>&nbsp;清空</button>
				<button type="button" id="deleteBtn" class="am-btn am-btn-sm am-btn-primary"><i class="am-icon-trash-o"></i>&nbsp;删除</button>
			</div>
		</div>
	</form>
</div>
<script>
(function() {
	function handleTree(srcList, treeObj, parentId){
		treeObj.children = new Array();
		for(var i=0; i<srcList.length; i++){
			var item = srcList[i];
			if(item.parentId == parentId){
				var obj = {
					name: item.name,
					isParent: false,
					open: true,
					attr: item
				}
				treeObj.children.push(obj);
			}
		}
		if(treeObj.children.length > 0){
			treeObj.isParent = true;
			for(var i=0; i<treeObj.children.length; i++){
				var item = treeObj.children[i];
				handleTree(srcList, item, item.attr.id);
			}
		}
	}
	
	$('#refreshBtn').on('click', function(){
		$.ajax({
			url: basePath + 'dept/list',
			type: 'get',
			dataType: 'json',
// 			async: false,
			success: function(data){
				if(!data.list || data.list.length < 1){
					layer.msg('没有查询到分部数据');
					return false;
				}
				var treeObj = {};
				handleTree(data.list, treeObj, 0);
				$('#resetBtn').trigger('click');
				$('#deptSelect').empty();
				$('#deptSelect').append('<option value="0">无上级</option>');
				for(var i=0; i<data.list.length; i++){
					$('#deptSelect').append('<option value="' + data.list[i].id + '">' + data.list[i].name + '</option>');
				}
				
				var setting = {
					callback: {
						onClick: function(event, treeId, treeNode){
							$('#editForm').find('.vfor').each(function(){
								$(this).val($.getjson(treeNode.attr, $(this).attr('name')));
							});
						}
					},
					view: {
						showIcon: false,
						showTitle: false
					}
				};
				$.fn.zTree.init($('#deptTree'), setting, treeObj.children);
			}
		});
	});
	
	$('#saveBtn').on('click', function(){
		$('#editForm').trimForm();
		var serialNumber = $('#serialNumber').val();
		if(!serialNumber){
			layer.msg('输入序号');
			return false;
		}
		
		var name = $('#name').val();
		if(!name){
			layer.msg('输入名称');
			return false;
		}
		
		$('#editForm').ajaxSubmit({
			url: basePath + 'dept/save',
			type: 'put',
			dataType: 'json',
			success: function(data){
				layer.msg('保存成功');
				$('#refreshBtn').trigger('click');
			}
		});
	});
	
	$('#deleteBtn').on('click', function(){
		$.confirm('确认', '确认要删除此分部吗？', function(){
			var deptId = $('#editForm').find('input[name="id"]').val();
			if(!deptId){
				layer.msg('请选择要删除的分部');
				return false;
			}
			$.ajax({
				url: basePath + 'dept/' + deptId,
				type: 'delete',
				dataType: 'json',
				success: function(data){
					layer.msg('操作成功');
					$('#refreshBtn').trigger('click');
				}
			});
		});
	});
	
	$(function(){
		$('#refreshBtn').trigger('click');
	});
})();
</script>
</body>
</html>
