<div class="am-cf am-padding-xs">
	<div class="am-fl am-cf">
		<strong class="am-text-primary am-text-lg">通讯录管理</strong> / <small>首页</small>
	</div>
</div>
<ul class="am-avg-sm-1 am-avg-md-4 am-margin-xs am-padding-xs am-text-center admin-content-list ">
	<li>
		<a href="javascript:void(0);" class="am-text-success">
			<span class="am-icon-btn am-icon-user"></span><br />
			昨日访问量<br />
			<span id="keySize"></span>
		</a>
	</li>
	<li>
		<a href="javascript:void(0);" class="am-text-warning">
			<span class="am-icon-btn am-icon-briefcase"></span><br />
			今日访问量<br />
			<span id="clientSize"></span>
		</a>
	</li>
	<li>
		<a href="javascript:void(0);" class="am-text-danger">
			<span class="am-icon-btn am-icon-recycle"></span><br />
			通讯录总数<br />
			<span id="telCount"></span>
		</a>
	</li>
	<li>
		<a href="javascript:void(0);" class="am-text-secondary">
			<span class="am-icon-btn am-icon-user-md"></span><br />
			分部总数<br />
			<span id="deptCount"></span>
		</a>
	</li>
</ul>
<div class="am-g">
	<div class="am-u-md-12 am-padding-xs">
		<div class="am-panel am-panel-default">
			<div class="am-panel-hd am-cf" data-am-collapse="{target: '#collapse-panel-4'}">
				消息<span class="am-icon-chevron-down am-fr"></span>
			</div>
			<div id="collapse-panel-4" class="am-panel-bd am-collapse am-in">
				<ul class="am-list admin-content-task">
					<li>
						<div class="admin-task-meta">2017-05-12 17:35:23 admin</div>
						<div class="admin-task-bd">v1.0.0-SNAPSHOT</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
<script>
(function(){
	$(function(){
		$.ajax({
			url: basePath + 'home/index',
			type: 'get',
			dataType: 'json',
			success: function(data){
				for(var key in data){
					if($('#' + key)){
						$('#' + key).text(data[key]);
					}
				}
			}
		});
	});
})();
</script>