<!doctype html>
<html class="no-js fixed-layout">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>通讯录管理</title>
	<meta name="description" content="通讯录管理">
	<meta name="keywords" content="index">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="renderer" content="webkit">
	<meta http-equiv="Cache-Control" content="no-siteapp" />
	<link rel="stylesheet" href="../res/css/amazeui.min.css" />
	<link rel="stylesheet" href="../res/css/admin.css" />
	<style type="text/css">
		#particles {
			position: fixed;
		    top: 0px;
		    left: 0px;
		    z-index: -1;
		    background: #373C64;
		}
		.am-login-header {
			color: #fff;
		}
		.am-login {
			box-shadow: 0 -15px 30px #87C529;
		    border-radius: 5px;
		    z-index: 1000;
		    color: #fff;
		}
	</style>
</head>
<body>
	<div id="particles"></div>
	<div class="am-login-header am-text-center am-margin-top-lg">
		<div class="am-g">
			<h1>Web</h1>
			<p>通讯录管理</p>
		</div>
		<hr />
	</div>
	<div class="am-g am-u-lg-4 am-u-md-4 am-u-sm-centered am-padding-top-sm am-login">
		<form class="am-form am-form-horizontal">
			<div class="am-form-group am-form-group-sm">
				<label for="loginName" class="am-u-sm-3 am-form-label">用户名</label>
				<div class="am-u-sm-9">
					<input type="text" id="loginName" name="loginName">
				</div>
			</div>
			<div class="am-form-group am-form-group-sm">
				<label for="loginPwd" class="am-u-sm-3 am-form-label">密码</label>
				<div class="am-u-sm-9">
					<input type="password" id="loginPwd" name="loginPwd">
				</div>
			</div>
			<div class="am-form-group am-form-group-sm">
				<div class="am-u-sm-9 am-u-sm-offset-3">
					<button type="button" id="loginBtn" class="am-btn am-btn-sm am-btn-primary">登录</button>
					<a href="/" class="am-btn am-btn-sm am-btn-primary">直接进入</a>
				</div>
			</div>
		</form>
		<hr>
		<div class="footer am-text-center">
			<p>©2015-2020 itopener.com All rights reserved</p>
		</div>
	</div>
	<!--[if lt IE 9]>
		<script src="http://libs.baidu.com/jquery/1.11.1/jquery.min.js"></script>
		<script src="http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>
		<script src="../res/js/amazeui.ie8polyfill.min.js"></script>
	<![endif]-->
	
	<!--[if (gte IE 9)|!(IE)]><!-->
	<script src="../res/js/jquery.min.js"></script>
	<!--<![endif]-->
	<script src="../res/js/amazeui.min.js"></script>
	<script src="../res/particle/jquery.particleground.min.js"></script>
	<script src="../res/layer/layer.js"></script>
	<script src="../res/js/app.js"></script>
	<script>
		(function(){
			$('#loginBtn').on('click', function(){
				var loginName = $('#loginName').val();
				if(!loginName){
					layer.msg('请输入用户名');
					return false;
				}
				var loginPwd = $('#loginPwd').val();
				if(!loginPwd){
					layer.msg('请输入密码');
					return false;
				}
				$.ajax({
					url: basePath + 'user/login',
					type: 'post',
					dataType: 'json',
					data: {
						loginName: loginName,
						loginPwd: loginPwd
					},
					success: function(data){
						location.href = basePath;
					}
				});
			});
			
			$(function(){
				$("#particles").width($(window).width());
				$("#particles").height($(window).height());
				$("#particles").particleground({
					dotColor: "#E9E9E9",
					lineColor: "#E9E9E9",
					lineWidth: 0.5,
					particleRadius: 4
				});
			});
		})();
	</script>
</body>
</html>
