<!doctype html>
<html class="no-js fixed-layout">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>通讯录管理</title>
	<meta name="description" content="通讯录管理">
	<meta name="keywords" content="index">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="renderer" content="webkit">
	<meta http-equiv="Cache-Control" content="no-siteapp" />
	<link rel="stylesheet" href="../res/css/amazeui.min.css" />
	<link rel="stylesheet" href="../res/datetimepicker/css/amazeui.datetimepicker.css" />
	<link rel="stylesheet" href="../res/ztree/css/zTreeStyle/zTreeStyle.css" />
	<link rel="stylesheet" href="../res/css/admin.css" />
</head>
<body class="am-text-sm">
<header class="am-topbar am-topbar-inverse admin-header" id="header">
	<div class="am-topbar-brand">
		<strong>通讯录管理</strong><small>&nbsp;&nbsp;itopener.com</small>
	</div>

	<button class="am-topbar-btn am-topbar-toggle am-btn am-btn-sm am-btn-success am-show-sm-only" data-am-collapse="{target: '#topbar-collapse'}">
		<span class="am-sr-only">导航切换</span>
		<span class="am-icon-bars"></span>
	</button>

	<div class="am-collapse am-topbar-collapse" id="topbar-collapse">
		<ul class="am-nav am-nav-pills am-topbar-nav am-topbar-right admin-header-list">
			<li class="am-dropdown am-hide" data-am-dropdown id="userInfo">
				<a class="am-dropdown-toggle" data-am-dropdown-toggle href="javascript:;">
					<span class="am-icon-user"></span>
					<span id="userName">路人甲</span>
					<span class="am-icon-caret-down"></span>
				</a>
				<ul class="am-dropdown-content">
					<li><a href="javascript:void(0);" id="toLogout"><span class="am-icon-power-off"></span>退出</a></li>
				</ul>
			</li>
			<li class="am-hide" id="userNotLogin">
				<a href="javascript:void(0);">登录</a>
			</li>
		</ul>
	</div>
</header>
<div class="am-cf admin-main">
	<div class="admin-sidebar am-offcanvas" id="admin-offcanvas">
		<div class="am-offcanvas-bar admin-offcanvas-bar">
			<ul class="am-list admin-sidebar-list" id="sidebarList"></ul>
		</div>
	</div>
	<!-- content start -->
	<div class="admin-content">
		<div class="admin-content-body" id="contentBody"></div>
		<footer class="admin-content-footer" id="footer">
			<hr class="am-margin-xs">
			<p class="am-padding-left am-margin-xs">©2015-2020 itopener.com All rights reserved</p>
		</footer>
	</div>
	<!-- content end -->
</div>

<a href="#" class="am-icon-btn am-icon-th-list am-show-sm-only admin-menu" data-am-offcanvas="{target: '#admin-offcanvas'}"></a>

<!--[if lt IE 9]>
	<script src="http://libs.baidu.com/jquery/1.11.1/jquery.min.js"></script>
	<script src="http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>
	<script src="../res/js/amazeui.ie8polyfill.min.js"></script>
<![endif]-->

<!--[if (gte IE 9)|!(IE)]><!-->
<script src="../res/js/jquery.min.js"></script>
<!--<![endif]-->
<script src="../res/js/amazeui.min.js"></script>
<script src="../res/js/jquery-form.js"></script>
<script src="../res/datetimepicker/js/amazeui.datetimepicker.min.js"></script>
<script src="../res/datetimepicker/js/locales/amazeui.datetimepicker.zh-CN.js"></script>
<script src="../res/layer/layer.js"></script>
<script src="../res/ztree/jquery.ztree.all.js"></script>
<script src="../res/js/app.js"></script>
<script>
	(function(){
		function renderMenu(menus, ele){
			var li = '<li><a href="javascript:void(0);" data-url="{{url}}"><span class="{{icon}}"></span>{{name}}</a></li>';
			var liParent = '<li class="admin-parent"><a class="am-cf" data-am-collapse="{target: \'#collapse-nav{{name}}\'}">'
							+ '<span class="{{icon}}"></span> {{name}}'
							+ '<span class="am-icon-angle-right am-fr am-margin-right"></span>'
							+ '</a>'
							+ '<ul class="am-list am-collapse admin-sidebar-sub" id="collapse-nav{{name}}">'
							+ '</ul></li>';
			for(var i=0; i<menus.length; i++){
				var menu = menus[i];
				var hasChildren = menu.list && menu.list.length > 0;
				if(hasChildren){
					(ele || $('#sidebarList')).append($.format(liParent, menu));
					renderMenu(menu.list, $('#sidebarList li:last .admin-sidebar-sub'));
				} else{
					(ele || $('#sidebarList')).append($.format(li, menu));
				}
			}
		}
		
		//绑定菜单点击事件
		$('#sidebarList').on('click', 'a[data-url]', function(){
			var url = $(this).data('url');
			$(this).parent().addClass("am-active");
			$.ajax({
				url: basePath + url,
				dataType: 'html',
				cache: false,
				success: function(data){
					$('#contentBody').html(data);
				}
			});
			$('#breadcrumbs').text($(this).text());
		});
		
		function getMenus(user){
			var menus = [{
				name: '通讯录',
				icon: 'fa-tachometer',
				url: 'views/tellist.html'
			}];
			
			if(!user){
				return menus;
			}
			if(user.role == 2){
				menus.push({
					name: '分部管理',
					icon: 'fa-tachometer',
					url: 'views/dept.html'
				});
			}
			if(user.role == 3){
				menus.push({
					name: '分部管理',
					icon: 'fa-tachometer',
					url: 'views/dept.html'
				});
				menus.push({
					name: '超级管理员',
					icon: 'fa-tachometer',
					url: 'views/manager.html'
				});
			}
			return menus;
		}
		
		$(function(){
			$.ajax({
				url: basePath + 'user/info',
				type: 'get',
				dataType: 'json',
				success: function(data){
					if(data.user){
						$('#userInfo').removeClass('am-hide');
						$('#userName').text(data.user.userName);
					} else{
						$('#userNotLogin a').attr('href', basePath + 'views/login.html');
						$('#userNotLogin').removeClass('am-hide');
					}
					
					$('#sidebarList').empty();
					renderMenu(getMenus(data.user));
					//默认加载第一个菜单页面
		 			$('#sidebarList a[data-url]:first').trigger('click');
				}
			});
		});
		
		$('#toLogout').on('click', function(){
			$.ajax({
				url: basePath + 'user/logout',
				type: 'get',
				dataType: 'json',
				success: function(data){
					location.href = basePath + 'views/login.html';
				}
			});
		});
	})();
</script>
</body>
</html>
