<div class="am-cf am-padding-xs am-padding-bottom-0">
	<div class="am-fl am-cf">
		<strong class="am-text-primary am-text-lg">通讯录管理</strong> / <small>通讯录</small>
	</div>
	<div class="am-fr am-cf">
		<button type="button" id="toAddBtn" class="am-btn am-btn-xs am-btn-primary" data-am-modal="{target: '#modal-tellist-add'}"><i class="am-icon-plus"></i>&nbsp;新增</button>
		<button type="button" id="refreshBtn" class="am-btn am-btn-xs am-btn-primary"><i class="am-icon-refresh"></i>&nbsp;刷新</button>
	</div>
</div>
<hr class="am-margin-xs"/>
<form class="am-form am-form-horizontal am-margin-right-sm" role="form" id="queryForm">
	<ul class="am-avg-sm-1 am-avg-md-3 am-avg-lg-4 am-thumbnails">
		<li class="am-padding-0">
			<div class="am-form-group am-form-group-sm am-margin-bottom-xs">
				<label for="name" class="am-u-sm-4 am-form-label am-text-right am-padding-left-0 am-padding-right-0">姓名：</label>
				<div class="am-u-sm-8 am-padding-left-0 am-padding-right-0">
					<input type="text" class="am-form-field" name="likeName" />
				</div>
			</div>
		</li>
		<li class="am-padding-0">
			<div class="am-form-group am-form-group-sm am-margin-bottom-xs">
				<label for="name" class="am-u-sm-4 am-form-label am-text-right am-padding-left-0 am-padding-right-0">电话：</label>
				<div class="am-u-sm-8 am-padding-left-0 am-padding-right-0">
					<input type="text" class="am-form-field" name="likeMobile" />
				</div>
			</div>
		</li>
		<li class="am-padding-0">
			<div class="am-form-group am-form-group-sm am-margin-bottom-xs">
				<div class="am-u-sm-12 am-padding-left-xs am-padding-right-0">
					<button type="button" id="queryBtn" class="am-btn am-btn-sm am-btn-primary"><i class="am-icon-search"></i>&nbsp;查询</button>
					<button type="reset" class="am-btn am-btn-sm am-btn-default"><i class="am-icon-undo"></i>&nbsp;重置</button>
				</div>
			</div>
		</li>
	</ul>
	<input type="hidden" id="deptId" />
</form>
<hr class="am-margin-xs am-margin-top-0"/>
<div class="am-u-sm-3">
	<ul class="ztree" id="deptTree"></ul>
</div>
<div class="am-u-sm-9">
	<div class="am-scrollable-horizontal">
		<table class="am-table am-table-bordered am-table-striped am-table-hover am-table-compact am-text-nowrap am-table-centered am-margin-bottom-xs">
			<thead>
				<tr>
					<th>单位</th>
					<th>姓名</th>
					<th>职务</th>
					<th>值班电话</th>
					<th>手机或外线</th>
					<th>V网短号</th>
					<th>邮件</th>
					<th>操作</th>
				</tr>
				<tr class="am-hide" id="tableTmpl">
					<td>{{deptName}}</td>
					<td>{{name}}</td>
					<td>{{position}}</td>
					<td>{{telephone}}</td>
					<td>{{mobile}}</td>
					<td>{{vnetNumber}}</td>
					<td>{{email}}</td>
					<td>
						<div class="am-btn-toolbar">
							<div class="am-btn-group am-btn-group-xs">
								<button type="button" class="am-btn am-btn-xs am-btn-primary toUpdateBtn"><i class="am-icon-search"></i>&nbsp;修改</button>
								<button type="button" class="am-btn am-btn-xs am-btn-primary toDeleteBtn" data-id="{{id}}"><i class="am-icon-search"></i>&nbsp;删除</button>
							</div>
						</div>
					</td>
				</tr>
			</thead>
			<tbody id="tableBody"></tbody>
		</table>
		<div id="pagingDiv"></div>
	</div>
</div>
<div class="am-modal am-modal-no-btn" tabindex="-1" id="modal-tellist-add">
	<div class="am-modal-dialog">
		<div class="am-modal-hd">
			编辑通讯录信息 
			<a href="javascript: void(0)" class="am-close am-close-spin" data-am-modal-close>&times;</a>
		</div>
		<div class="am-modal-bd am-padding-bottom-0">
			<form class="am-form am-form-horizontal" id="editForm">
				<div class="am-form-group am-form-group-sm am-margin-bottom-xs">
					<label for="doc-ipt-3" class="am-u-sm-3 am-form-label">编号<span class="am-text-danger">*</span></label>
					<div class="am-u-sm-9">
						<input type="number" id="serialNumber" name="serialNumber" class="vfor">
					</div>
				</div>

				<div class="am-form-group am-form-group-sm am-margin-bottom-xs">
					<label for="doc-ipt-pwd-2" class="am-u-sm-3 am-form-label">姓名<span class="am-text-danger">*</span></label>
					<div class="am-u-sm-9">
						<input type="text" id="name" name="name" class="vfor">
					</div>
				</div>

				<div class="am-form-group am-form-group-sm am-margin-bottom-xs">
					<label for="doc-ipt-pwd-2" class="am-u-sm-3 am-form-label">手机<span class="am-text-danger">*</span></label>
					<div class="am-u-sm-9">
						<input type="text" id="mobile" name="mobile" class="vfor">
					</div>
				</div>

				<div class="am-form-group am-form-group-sm am-margin-bottom-xs">
					<label for="doc-ipt-pwd-2" class="am-u-sm-3 am-form-label">V网短号</label>
					<div class="am-u-sm-9">
						<input type="text" id="vnetNumber" name="vnetNumber" class="vfor">
					</div>
				</div>

				<div class="am-form-group am-form-group-sm am-margin-bottom-xs">
					<label for="doc-ipt-pwd-2" class="am-u-sm-3 am-form-label">电话</label>
					<div class="am-u-sm-9">
						<input type="text" id="telephone" name="telephone" class="vfor">
					</div>
				</div>

				<div class="am-form-group am-form-group-sm am-margin-bottom-xs">
					<label for="doc-ipt-pwd-2" class="am-u-sm-3 am-form-label">单位<span class="am-text-danger">*</span></label>
					<div class="am-u-sm-9">
						<select name="deptId" id="deptSelect" class="vfor">
							<option value=""></option>
						</select>
					</div>
				</div>

				<div class="am-form-group am-form-group-sm am-margin-bottom-xs">
					<label for="doc-ipt-pwd-2" class="am-u-sm-3 am-form-label">职位</label>
					<div class="am-u-sm-9">
						<input type="text" id="position" name="position" class="vfor">
					</div>
				</div>

				<div class="am-form-group am-form-group-sm am-margin-bottom-xs">
					<label for="doc-ipt-pwd-2" class="am-u-sm-3 am-form-label">邮箱<span class="am-text-danger">*</span></label>
					<div class="am-u-sm-9">
						<div class="am-input-group">
							<input type="text" id="email" name="email" class="am-form-field vfor">
							<span class="am-input-group-label">@petrochina.com.cn</span>
						</div>
					</div>
				</div>
				<input type="hidden" name="id" value="0" class="vfor" />
				<div class="am-form-group am-form-group-sm am-margin-bottom-xs">
					<div class="am-u-sm-12">
						<button type="button" id="saveBtn" class="am-btn am-btn-sm am-btn-primary">保存</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
<script>
(function() {
	$('#queryBtn').on('click', function(){
		query(1, 10);
	});
	
	function query(page, size){
		$('#queryForm').trimForm();
		var page = page || 1;
		var size = size || 10;
		var deptId = $('#deptId').val() || 0;
		$('#queryForm').ajaxSubmit({
			url: basePath + 'tellist/list/' + page + '/' + size,
			type: 'get',
			dataType: 'json',
			data: {
				deptId: deptId
			},
			success: function(data){
				$('#tableBody').empty();
				if(data.count < 1){
					$('#tableBody').append('<tr><td colspan="8">没有查询到符合条件的数据</td></tr>');
					return false;
				}
				for(var i=0; i<data.list.length; i++){
					$('#tableBody').append('<tr>' + $.format($('#tableTmpl').html(), data.list[i]) + '</tr>');
					$('#tableBody tr:last .toUpdateBtn').data('obj', data.list[i]);
				}
				$('#pagingDiv').paging({
					page: page,
					pageSize: size,
					totalPage: data.count == 0 ? 1 : Math.ceil(data.count/size),
					totalCount: data.count,
					callback: query
				});
			}
		});
	}
	
	function handleTree(srcList, treeObj, parentId){
		treeObj.children = new Array();
		for(var i=0; i<srcList.length; i++){
			var item = srcList[i];
			if(item.parentId == parentId){
				var obj = {
					name: item.name,
					isParent: false,
					open: true,
					attr: item
				}
				treeObj.children.push(obj);
			}
		}
		if(treeObj.children.length > 0){
			treeObj.isParent = true;
			for(var i=0; i<treeObj.children.length; i++){
				var item = treeObj.children[i];
				handleTree(srcList, item, item.attr.id);
			}
		}
	}
	
	$('#refreshBtn').on('click', function(){
		$.ajax({
			url: basePath + 'dept/list',
			type: 'get',
			dataType: 'json',
			success: function(data){
				if(!data.list || data.list.length < 1){
					layer.msg('没有查询到分部数据');
					return false;
				}
				var treeObj = {};
				handleTree(data.list, treeObj, 0);
				
				$('#deptSelect').empty();
				$('#deptSelect').append('<option value="0">无上级</option>');
				for(var i=0; i<data.list.length; i++){
					$('#deptSelect').append('<option value="' + data.list[i].id + '">' + data.list[i].name + '</option>');
				}
				
				var setting = {
					callback: {
						onClick: function(event, treeId, treeNode){
							$('#deptId').val(treeNode.attr.id);
							$('#queryBtn').trigger('click');
						}
					},
					view: {
						showIcon: false,
						showTitle: false
					}
				};
				$.fn.zTree.init($('#deptTree'), setting, treeObj.children);
				
				$('#deptId').val(0);
				$('#queryBtn').trigger('click');
			}
		});
	});
	
	$('#toAddBtn').on('click', function(){
		$('#editForm').find('.vfor').each(function(){
			$(this).val('');
		});
		$('#deptSelect').val(0);
	});
	
	$('#saveBtn').on('click', function(){
		$('#editForm').trimForm();
		$('#editForm').ajaxSubmit({
			url: basePath + 'tellist/save',
			type: 'put',
			dataType: 'json',
			success: function(data){
				layer.msg('保存成功');
				$('#modal-tellist-add').modal('close');
				$('#queryBtn').trigger('click');
			}
		});
	});
	
	$('#tableBody').on('click', '.toUpdateBtn', function(){
		var obj = $(this).data('obj');
		$('#editForm').find('.vfor').each(function(){
			$(this).val($.getjson(obj, $(this).attr('name')));
		});
		$('#modal-tellist-add').modal('open');
	});
	
	$('#tableBody').on('click', '.toDeleteBtn', function(){
		var id = $(this).data('id');
		$.confirm('确认', '确认要删除此通讯录吗？', function(){
			$.ajax({
				url: basePath + 'tellist/' + id,
				type: 'delete',
				dataType: 'json',
				success: function(data){
					layer.msg('操作成功');
					$('#queryBtn').trigger('click');
				}
			});
		});
	});
	
	$(function(){
		$('#refreshBtn').trigger('click');
	});
})();
</script>
</body>
</html>
