<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itopener.tools.zuul.route.admin.mapper.ZuulRouteEntityMapper">

	<resultMap id="BaseResultMap" type="com.itopener.zuul.route.spring.boot.common.ZuulRouteEntity">
		<id column="id" property="id" jdbcType="VARCHAR" />
		<result column="path" property="path" jdbcType="VARCHAR" />
		<result column="service_id" property="serviceId" jdbcType="VARCHAR" />
		<result column="url" property="url" jdbcType="VARCHAR" />
		<result column="strip_prefix" property="stripPrefix" jdbcType="BIT" />
		<result column="retryable" property="retryable" jdbcType="BIT" />
		<result column="sensitive_headers" property="sensitiveHeaders" jdbcType="VARCHAR" />
		<result column="custom_sensitive_headers" property="customSensitiveHeaders" jdbcType="BIT" />
		<result column="enable" property="enable" jdbcType="BIT" />
		<result column="router_name" property="routerName" jdbcType="VARCHAR" />
	</resultMap>

	<sql id="Column_List">
		id, path, service_id, url, strip_prefix, retryable, sensitive_headers, custom_sensitive_headers, 
		enable, router_name
	</sql>

	<sql id="Where">
		<where>
			<if test="likeId != null and likeId != ''">
				and id like concat(#{likeId,jdbcType=VARCHAR}, '%') 
			</if>
			<if test="likeRouterName != null and likeRouterName != ''">
				and router_name like concat(#{likeRouterName,jdbcType=VARCHAR}, '%') 
			</if>
			and enable = #{enable,jdbcType=BIT}
		</where>
	</sql>

	<select id="select" parameterType="com.itopener.tools.zuul.route.admin.conditions.ZuulRouteEntityCondition" resultMap="BaseResultMap">
		select <include refid="Column_List" />
		from ${tableName}
		<include refid="Where" />
	</select>

	<select id="listAll" parameterType="com.itopener.tools.zuul.route.admin.conditions.ZuulRouteEntityCondition" resultMap="BaseResultMap">
		select <include refid="Column_List" />
		from ${tableName}
	</select>

	<select id="selectCount" parameterType="com.itopener.tools.zuul.route.admin.conditions.ZuulRouteEntityCondition" resultType="int">
		select count(id)
		from ${tableName}
		<include refid="Where" />
	</select>

	<select id="count" parameterType="com.itopener.tools.zuul.route.admin.conditions.ZuulRouteEntityCondition" resultType="int">
		select count(id)
		from ${tableName}
	</select>

	<select id="selectCountById" parameterType="com.itopener.tools.zuul.route.admin.conditions.ZuulRouteEntityCondition" resultType="int">
		select count(id)
		from ${tableName}
		where id = #{id,jdbcType=VARCHAR}
	</select>

	<!-- 新增 -->
	<insert id="insert" parameterType="com.itopener.tools.zuul.route.admin.conditions.ZuulRouteEntityCondition" keyProperty="id" useGeneratedKeys="true">
		insert into ${tableName}(<include refid="Column_List" />)
		values (
			#{id,jdbcType=VARCHAR},
			#{path,jdbcType=VARCHAR},
			#{serviceId,jdbcType=VARCHAR},
			#{url,jdbcType=VARCHAR},
			#{stripPrefix,jdbcType=BIT},
			#{retryable,jdbcType=BIT},
			#{sensitiveHeaders,jdbcType=VARCHAR},
			#{customSensitiveHeaders,jdbcType=BIT},
			#{enable,jdbcType=BIT},
			#{routerName,jdbcType=VARCHAR})
	</insert>
	
	<update id="update" parameterType="com.itopener.tools.zuul.route.admin.conditions.ZuulRouteEntityCondition">
		update ${tableName}
		set
			path = #{path,jdbcType=VARCHAR},
			service_id = #{serviceId,jdbcType=VARCHAR},
			url = #{url,jdbcType=VARCHAR},
			strip_prefix = #{stripPrefix,jdbcType=BIT},
			retryable = #{retryable,jdbcType=BIT},
			sensitive_headers = #{sensitiveHeaders,jdbcType=VARCHAR},
			custom_sensitive_headers = #{customSensitiveHeaders,jdbcType=BIT},
			enable = #{enable,jdbcType=BIT},
			router_name = #{routerName,jdbcType=VARCHAR}
		where id = #{id,jdbcType=VARCHAR}
	</update>
	
	<update id="updateEnable" parameterType="com.itopener.tools.zuul.route.admin.conditions.ZuulRouteEntityCondition">
		update ${tableName}
		set
			enable = #{enable,jdbcType=BIT}
		where id = #{id,jdbcType=VARCHAR}
	</update>

	<delete id="delete" parameterType="com.itopener.tools.zuul.route.admin.conditions.ZuulRouteEntityCondition">
		delete from ${tableName}
		where id = #{id,jdbcType=VARCHAR}
	</delete>

	<delete id="clear" parameterType="com.itopener.tools.zuul.route.admin.conditions.ZuulRouteEntityCondition">
		delete from ${tableName}
	</delete>
</mapper>