<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itopener.tellist.mapper.DeptMapper">

	<resultMap id="BaseResultMap" type="com.itopener.tellist.model.Dept">
		<id column="id" property="id" jdbcType="BIGINT" />
		<result column="serial_number" property="serialNumber" jdbcType="BIGINT" />
		<result column="name" property="name" jdbcType="VARCHAR" />
		<result column="parent_id" property="parentId" jdbcType="BIGINT" />
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
		<result column="create_user_id" property="createUserId" jdbcType="BIGINT" />
		<result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
		<result column="update_user_id" property="updateUserId" jdbcType="BIGINT" />
	</resultMap>

	<sql id="Insert_Column_List">
		serial_number, name, parent_id, create_time, create_user_id, update_time, update_user_id
	</sql>

	<sql id="Column_List">
		id, <include refid="Insert_Column_List" />
	</sql>

	<sql id="Where">
		<where>
			<if test="id > 0">
				and id = #{id,jdbcType=BIGINT}
			</if>
			<if test="parentId > 0">
				and parent_id = #{parentId,jdbcType=BIGINT}
			</if>
		</where>
	</sql>

	<select id="select" parameterType="com.itopener.tellist.conditions.DeptCondition" resultMap="BaseResultMap">
		select <include refid="Column_List" />
		from t_dept
		<include refid="Where" />
		<if test="orderBy != null and orderBy != ''">
			order by ${orderBy}
		</if>
	</select>

	<select id="selectCount" parameterType="com.itopener.tellist.conditions.DeptCondition" resultType="int">
		select count(id)
		from t_dept
		<include refid="Where" />
	</select>

	<select id="selectById" parameterType="java.lang.Long" resultMap="BaseResultMap">
		select <include refid="Column_List" />
		from t_dept
		where id = #{id,jdbcType=BIGINT}
	</select>

	<!-- 新增 -->
	<insert id="insert" parameterType="com.itopener.tellist.model.Dept" keyProperty="id" useGeneratedKeys="true">
		insert into t_dept(<include refid="Insert_Column_List" />)
		values (
			#{serialNumber,jdbcType=BIGINT},
			#{name,jdbcType=VARCHAR},
			#{parentId,jdbcType=BIGINT},
			#{createTime,jdbcType=TIMESTAMP},
			#{createUserId,jdbcType=BIGINT},
			#{updateTime,jdbcType=TIMESTAMP},
			#{updateUserId,jdbcType=BIGINT})
	</insert>

	<update id="update" parameterType="com.itopener.tellist.model.Dept">
		update t_dept
		set
			serial_number = #{serialNumber,jdbcType=BIGINT},
			name = #{name,jdbcType=VARCHAR},
			parent_id = #{parentId,jdbcType=BIGINT},
			update_time = #{updateTime,jdbcType=TIMESTAMP},
			update_user_id = #{updateUserId,jdbcType=BIGINT}
		where id = #{id,jdbcType=BIGINT}
	</update>

	<delete id="delete" parameterType="com.itopener.tellist.model.Dept">
		delete from t_dept
		where id = #{id,jdbcType=BIGINT}
	</delete>
</mapper>