<footer>
	<hr>
	<div class="am-text-center">
  		Copyright © 2016-2017 itopener.com. All rights reserved.
	</div>
</footer>

<script>
var basePath = "http://localhost:8080";
var basePathRes = "http://localhost:8080";
</script>

<!--[if (gte IE 9)|!(IE)]><!-->
<script src="../../res/amazeui/js/jquery.min.js"></script>
<!--<![endif]-->
<!--[if lte IE 8 ]>
<script src="http://libs.baidu.com/jquery/1.11.3/jquery.min.js"></script>
<script src="http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>
<script src="assets/js/amazeui.ie8polyfill.min.js"></script>
<![endif]-->
<script src="../../res/amazeui/js/amazeui.min.js"></script>
<script src="../../res/layer/layer.js" data-layer-merge="true"></script>
