<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itopener.memo.mapper.MemoMapper">

	<resultMap id="BaseResultMap" type="com.itopener.memo.model.Memo">
		<id column="id" property="id" jdbcType="BIGINT" />
		<result column="user_id" property="userId" jdbcType="BIGINT" />
		<result column="event_name" property="eventName" jdbcType="VARCHAR" />
		<result column="cycle" property="cycle" jdbcType="TINYINT" />
		<result column="calendar_type" property="calendarType" jdbcType="TINYINT" />
		<result column="next_time" property="nextTime" jdbcType="TIMESTAMP" />
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
		<result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
	</resultMap>

	<sql id="Column_List">
		id, user_id, event_name, cycle, calendar_type, next_time, create_time, update_time
	</sql>

	<sql id="Where">
		<where>
			<if test="id > 0">
				and id = #{id,jdbcType=BIGINT}
			</if>
			<if test="userId > 0">
				and user_id = #{userId,jdbcType=BIGINT}
			</if>
		</where>
	</sql>

	<select id="select" parameterType="com.itopener.memo.conditions.MemoCondition" resultMap="BaseResultMap">
		select <include refid="Column_List" />
		from t_memo
		<include refid="Where" />
	</select>

	<select id="selectCount" parameterType="com.itopener.memo.conditions.MemoCondition" resultType="int">
		select count(id)
		from t_memo
		<include refid="Where" />
	</select>

	<select id="selectById" parameterType="java.lang.Long" resultMap="BaseResultMap">
		select <include refid="Column_List" />
		from t_memo
		where id = #{id,jdbcType=BIGINT}
	</select>

	<select id="selectByUserId" parameterType="java.lang.Long" resultMap="BaseResultMap">
		select <include refid="Column_List" />
		from t_memo
		where user_id = #{userId,jdbcType=BIGINT}
		order by next_time asc
	</select>

	<!-- 新增 -->
	<insert id="insert" parameterType="com.itopener.memo.model.Memo">
		insert into t_memo(<include refid="Column_List" />)
		values (
			#{id,jdbcType=BIGINT},
			#{userId,jdbcType=BIGINT},
			#{eventName,jdbcType=VARCHAR},
			#{cycle,jdbcType=TINYINT},
			#{calendarType,jdbcType=TINYINT},
			#{nextTime,jdbcType=TIMESTAMP},
			#{createTime,jdbcType=TIMESTAMP},
			#{updateTime,jdbcType=TIMESTAMP})
	</insert>

	<update id="update" parameterType="com.itopener.memo.model.Memo">
		update t_memo
		set
			event_name = #{eventName,jdbcType=VARCHAR},
			cycle = #{cycle,jdbcType=TINYINT},
			calendar_type = #{calendarType,jdbcType=TINYINT},
			next_time = #{nextTime,jdbcType=TIMESTAMP},
			update_time = #{updateTime,jdbcType=TIMESTAMP}
		where id = #{id,jdbcType=BIGINT}
			and user_id = #{userId,jdbcType=BIGINT}
	</update>

	<delete id="delete" parameterType="com.itopener.memo.model.Memo">
		delete from t_memo
		where id = #{id,jdbcType=BIGINT}
			and user_id = #{userId,jdbcType=BIGINT}
	</delete>
</mapper>